.config-button {
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 35px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #808080;
    padding: 5px;
    padding-left: 10px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease;
}

.config-button:hover {
    background-color: #313131;
}

.config-icon {
    color: #fff;
    font-size: 20px;
}


.config-button:hover .config-label {
    display: block;
}