@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --scrollbar-track-color: #F1F1F1;
  --scrollbar-thumb-color: #AAA;
  --scrollbar-border-color: #F1F1F1;
  --scrollbar-thumb-hover-color: #888;
}

:root .smart-view {
  --separator-border: #ffffff00;
  --sash-size: 8px;
}

body.dark-theme {
  --scrollbar-track-color: #2A2A2A;
  --scrollbar-thumb-color: #555;
  --scrollbar-border-color: #2A2A2A;
  --scrollbar-thumb-hover-color: #666;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 5px;
  border: 2px solid var(--scrollbar-border-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';