name: Docker Compose Build and Healthcheck

on:
  push:
    branches:
      - main
      - develop

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Move to docker directory and run docker-compose
      run: |
        cd docker
        docker-compose up -d

    - name: Healthcheck server
      run: curl --fail http://localhost:5000/healthcheck
